<div id="about">
  <h1>about me!</h1>
  <div class="content">
    <img src="/images/photo-of-me.jpg" loading="lazy" />

    <p>This is the about page a page about me! Who am I? 
        I am a living breathing human, to prove I am human I have a picture of me! 
        I like computers and the programs on them no matter what they do I prefer them 
        to be open source but if not thats fine as well I also like to play video games 
        and listen to music!
    </p>
  </div>
</div>
